# Local .terraform directories (in all subfolders)
**/.terraform/*

# .tfstate files (in all subfolders)
*.tfstate
*.tfstate.*

# Crash log files (in all subfolders)
crash.log
crash.*.log

# Exclude all .tfvars files (in all subfolders), sensitive data
*.tfvars
*.tfvars.json

# Ignore override files (in all subfolders)
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore transient lock info files created by terraform apply (in all subfolders)
.terraform.tfstate.lock.info

# Ignore CLI configuration files
.terraformrc
terraform.rc

**/terraform.tfstate
**/terraform.tfstate.backup
**/.terraform.lock.hcl


